[build]
  command = "npm install --legacy-peer-deps && npm run prisma:generate && npm run prisma:generate:indexer && npm run check:dashboard-permissions && npx next build && npm prune --omit=dev && rm -rf .next/cache"

[build.environment]
  NODE_VERSION = "20"
  NPM_FLAGS = "--legacy-peer-deps"
  INDEXER_DISABLED = "true"

[functions]
  node_bundler = "esbuild"

[[plugins]]
  package = "@netlify/plugin-nextjs"
