[build]
  command = "npm install --legacy-peer-deps && npm run prisma:generate && npm run prisma:generate:indexer && npm run check:dashboard-permissions && npx next build && rm -rf .next/cache"

[build.environment]
  NODE_VERSION = "20"
  NPM_FLAGS = "--legacy-peer-deps"
  INDEXER_DISABLED = "true"

[functions]
  node_bundler = "esbuild"

[functions."*"]
  external_node_modules = ["@prisma/client", "@prisma/client-indexer"]
  included_files = [
    "node_modules/.prisma/client/libquery_engine-rhel-openssl-3.0.x.so.node",
    "node_modules/.prisma/client/schema.prisma",
    "node_modules/@prisma/client/runtime/**",
    "node_modules/@prisma/client/index.js",
    "node_modules/@prisma/client/index.d.ts",
    "node_modules/@prisma/client-indexer/libquery_engine-rhel-openssl-3.0.x.so.node",
    "node_modules/@prisma/client-indexer/schema.prisma",
    "node_modules/@prisma/client-indexer/runtime/**",
    "node_modules/@prisma/client-indexer/index.js",
    "node_modules/@prisma/client-indexer/index.d.ts",
    "public/data/s1/**"
  ]

[[plugins]]
  package = "@netlify/plugin-nextjs"
