[build]
  command = "npm install --legacy-peer-deps && npx prisma generate && npx prisma generate --schema=prisma/schema.write.prisma && npm run build"
  publish = ".next"

[build.environment]
  NODE_VERSION = "20"
  NPM_FLAGS = "--legacy-peer-deps"

[functions]
  external_node_modules = ["@prisma/client", "@prisma/client-write"]
  node_bundler = "esbuild"
  included_files = ["node_modules/@prisma/client-write/**", "node_modules/.prisma/**"]

[[plugins]]
  package = "@netlify/plugin-nextjs"
