[build]
  command = "npm install --legacy-peer-deps && npm run prisma:generate:all && npm run check:dashboard-permissions && npm run build && rm -rf .next/cache"

[build.environment]
  NODE_VERSION = "20"
  NPM_FLAGS = "--legacy-peer-deps"
  INDEXER_DISABLED = "true"

[functions]
  external_node_modules = ["@prisma/client", "@prisma/client-write", "@prisma/client-indexer", "@prisma/client-admin"]
  included_files = ["node_modules/@prisma/client-write/**", "node_modules/@prisma/client-indexer/**", "node_modules/@prisma/client-admin/**", "node_modules/.prisma/**", "public/data/s1/**"]

[[plugins]]
  package = "@netlify/plugin-nextjs"
